<div class="grid">
    <div class="grid-header">
        <div class="grid-header-cell">#</div>
        <div class="grid-header-cell">1</div>
        <div class="grid-header-cell">2</div>
        <div class="grid-header-cell">3</div>
        <div class="grid-header-cell">4</div>
    </div>
    <div class="grid-body">
        <div class="grid-row">
            <div class="grid-cell">1</div>
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
        </div>
        <div class="grid-row">
            <div class="grid-cell">2</div>
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
        </div>
        <div class="grid-row">
            <div class="grid-cell">3</div>
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
            <input type="text" class="grid-cell-input">
        </div>
    </div>
</div>