<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <button class="btn btn-lg btn-primary">Upload un son</button>
            </div>
            <div class="col-md-6 text-center">
                <a routerLink="/catalog"><button class="btn btn-lg btn-secondary">Catalogue</button></a>
            </div>
        </div>
    </div>
</main>

<!-- 
<div class="col-md-12 text-center">
    <button *ngIf="swipeLeft" class="btn btn-lg btn-primary">Upload un son</button>
    <button *ngIf="swipeRight" class="btn btn-lg btn-secondary">Catalogue</button>
</div> -->