<div class="main row justify-content-center col">
    <ul>
        <li *ngFor="let song of filteredSongs" class="card">
            <div class="card-body">
                <div class="infos">
                    <h5 class="card-title">{{ song.name }}</h5>
                    <h6 class="card-title">{{ song.artist }}</h6>
                </div>

                <button class="btn btn-primary" type="button"
                    (click)="playSong( song.mp3Url, song.name, song.artist, song.tempo)">PLAY</button>
                <a routerLink="/flow"><button class="btn btn-primary" type="button">Écrire un flow</button></a>
            </div>
        </li>
    </ul>
    <p *ngIf="searchInput">Recherche effectuée !</p>
    <button class="btn btn-primary" type="button" (click)="resetSearch()">Explorer toutes les zics</button>
</div>